*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    height: 100vh;
    
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 122px;

}
.container{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;
}
.background,.foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;

}
.background{
    transform: translateZ(-62px) scale(1.5);
}
.foreground{
    transform: translateZ(-12px) scale(1.23);
}
h1{
    position: absolute;
    top:3em;
    color: white;
    left:50%;
    font-size: 5em;
    text-shadow: 1 1 10px rgba(0,0,0,0.3);
    left: 9em;
    transform: translateX(-50%);

}
section{
    background-color: rgb(45,45,45);
    color:white;
    padding:5rem 0;

}
.ba{
    background-image: url(kaba.jpg);
}
.bb{
    background-image: url(hockey.jpg);
}
.bc{
    background-image:url(cric.jpg);
}
.bd{
    background-image: url(football.jpg);
}
.gam{
    font-size: 5rem;
    padding: 0 10rem;

}
.tt{
    font-size: 1.5rem;
    padding:0 10rem;
    margin:5rem;

}
.b{
    background-attachment: fixed;
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    height:500px;


}
.Fl{
    position: absolute;
    background-color: whitesmoke;
    padding: 0.5rem 2.5rem;
    top:50%;
    left:50%;
    color: aquamarine;
    font-size: 3.5rem;
    transform: translateX(-50%) translateX(-50%);

}